---
import { Image } from "astro:assets";
import SectionTitle from "src/components/sectionTitle.astro";
import type { Education } from "$lib/types/resume";

interface Props {
  items: Record<string, Education>;
}
const { items } = Astro.props;
---

<section class="pb-6">
  <SectionTitle>Education</SectionTitle>
  {
    items &&
      Object.entries(items).map(([school, item]) => (
        <div>
          <div class="py-8 flex items-center">
            {item.image && (
              <a
                href={item.image.link}
                target="_blank"
                rel="noreferrer"
                class="hidden lg:block lg:mr-4"
              >
                <div class="float-left pr-4">
                  <Image
                    src={item.image.url}
                    alt={item.image.alt || ""}
                    width={64}
                    height={64}
                    class="w-16 h-16 float-left object-contain bg-white rounded-full "
                  />
                </div>
              </a>
            )}
            <div class="grow">
              <b class="">{school}</b>
              <b class="float-right">{item.location}</b>
              <br />
              <i class="">{item.degree}</i>
              <i class="float-right">{item.dates}</i>
            </div>
          </div>
        </div>
      ))
  }
</section>
