---
import SectionTitle from "src/components/sectionTitle.astro";
import type { Resume } from "$lib/types/resume";

interface Props {
  data: Resume;
}
const { data } = Astro.props;
---

<section class="pb-12">
  <SectionTitle>Awards and Publications</SectionTitle>
  <div>
    {
      data.publications &&
        data.publications.map((item) => (
          <div class="py-4">
            <b>{item.title}</b>
            <i> {item.date}</i>
          </div>
        ))
    }
  </div>
  <ul>
    {
      data.awards &&
        data.awards.map((award) => {
          const split_title = award.title.split(/–(.*)/s);

          return (
            <li class="py-1">
              <b>{split_title[0]}</b> -<span>{split_title[1]} - </span>{" "}
              <i> {award.date}</i>
            </li>
          );
        })
    }
  </ul>
</section>
